* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #89cff0;
}

.container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    margin: 1px solid #ccc;
    border-radius: 5px;
}   

button {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}

.message {
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
}

.success {
    background: #d4edda;
    color: #155724;
}

.error {
    background: #f8d7da;
    color:crimson
}

.actions {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
}

.btn-primary {
    background-color: #4caf50;
    color: white;
    width: fit-content;
    padding: 15px 30px;
}

.btn-secondary {
    background-color: #2196f3;
    color: white;
    padding: 10px 30px;    /* Reduzi um pouco o padding que estava 15px */
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    width: auto;
}

.btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.home-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: #4169E1;
    padding: 60px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.home-subtittle {
    color: #000080;
    margin-bottom: 30px;
}

.logo {
    width: 200px;
    border-radius: 40px;
    display: block;
    margin: 0 auto 20px auto;
}

.login-prompt {
    margin-top: 20px;
}

.form-cadastro input,
.form-login input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}   

.site-name {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin: 0;
    color: rgb(255, 255, 255); 
}

.logo-header {
    width: 45px;       /* Tamanho menor para a logo no cabeçalho */
    height: 45px;
    border-radius: 50%; /* Mantém ela redondinha */
    object-fit: cover;
    border: 2px solid white;
}

