<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        
    <h1>Cadastro</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="message {{ category }}">
            {{ msg }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    

    <form action="/cadastro" method="post">
        <input type="text" name="nome" placeholder="Digite seu nome: "><br>
        <input type="email" name="email" placeholder="Informe seu email: "><br>
        <input type="password" name="senha" placeholder="Informe sua senha: "><br>
        <button type="submit">Cadastrar</button>
    </form>


</div>

</body>
</html> -->