<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header class="header-container">
    <h1 class="site-name">TurtleSteps</h1> <img class="logo-header" src="{{ url_for('static', filename='img/images.jpeg') }}" alt="Logo"> </header>

    <div class="container">
        <h1>Login feito com sucesso 🎉</h1>
        <p>Bem vindo, {{ nome }}!</p>

        <a href="{{ url_for('home') }}" class="btn btn-primary">
            Voltar para o início
        </a>
    </div>
</body>
</html>